.section-subtitle {
  margin: 0 auto 0 auto;
  position: absolute;
  left: 20%;
  display: flex;
  justify-content: center;
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}
